page-home {
    .centro{
        display:flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #41cc8d;
        
       
    }

    .scroll-content{
        background-color: #41cc8d;
        overflow-y: hidden;
        height: 100vh;
        max-height: 100vh;
    }
 
    h1{
        text-align: center;
    }
    img{
        display: block;
        margin: auto;
        max-width: 35%;
    }
 
    .button{
        display: block;
        margin: auto;
    }
 
    ion-label{
       color: #488aff;
    }
    form{
        display:flex;
        align-content: center;
    }

 }