page-home {

    .scroll-content{
        background-color: #41cc8d;
        overflow-y: hidden;
        height: 100vh;
        max-height: 100vh;
    }
 
    h1{
        text-align: center;
    }
    img{
        display: block;
        margin: auto;
        max-width:9rem;
    }
 
    .button{
        display: block;
        margin: auto;
    }
 
    ion-label{
       color: #488aff;
    }

 }