page-card {



    .scroll-content{
        background-color:#41cc8d;
    }
        .card{
            
            background-color:white;
            border-radius:3rem;
            padding:2rem;
            margin: 1rem;

        }

        ion-item{
            margin: 2rem;

        }
}

